.media-body {
    margin: 10px 0 0 10px;
}
.media {
    margin: 10px;
    /* background-color: #EDF6F9; */
    color: #006D77;
}

.article-info {
    display: flex;
    justify-content: flex-start;
}

.img {
    display: flex;
    margin: 10px;
}

@media only screen and (max-width: 500px) {
    .img {
        display: none;
    }
}